{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
<h1>Hello {{ user.name }}</h1>

<ul>
    {% if isAdmin %}
    <li>Id: {{ user.id }}</li>
    {% endif %}

    <li>Email: {{ user.email }}</li>

    {% if isAdmin %}
    <li>Your role: Admin</li>
    {% elseif isWriter %}
    <li>Your role: Writer</li>
    {% else %}
    <li>Your role: Regular user</li>
    {% endif %}

    <li>Registered at: {{ user.createdAt | format_datetime('short', locale: 'fr') }}</li>
</ul>
{% endblock %}
