includes:
    - tools/vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: max
    paths:
        - config
        - src
        - tests

    excludePaths:
        - tests/Support/_generated/*
        - tests/Support/*.php

    ignoreErrors:
        -
            message: '#Class .+Test has an uninitialized readonly property .+\. Assign it in the constructor\.#'
            paths:
                - tests/*
        -
            message: '#Readonly property .+ is assigned outside of the constructor\.#'
            paths:
                - tests/*
