{% extends 'admin/base-admin.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block steelsheets %}
<style>

</style>
{% endblock %}

{% block body %}

<div>
    <h1>Admin Dashboard</h1>

</div>
{% endblock %}
